includeConfig '/etc/nextflow.config'

manifest {
  name = 'ryant/mmseqs-gfa-nf'
  author = 'Ryan Teo'
  homePage = 'https://github.com/ryant/mmseqs-gfa-nf'
  description = 'Pipeline to run MMseqs2 searches on GFA-derived node sequences'
  version = '0.1.0'
}

modules {
  nfcore = 'nf-core/mmseqs2'
}

params {
    // I/O options
	samplesheet			= null
    outdir              = 'results'
    
    // MMseqs2 search options
    search_type         = 3
    sensitivity         = 7.5
    format_mode         = 0
    format_output       = null

    // Help message
    help                = false
}

process {
    cpus            = { 1 * task.attempt }
    memory          = { 6.GB * task.attempt }
    time            = { 4.h  * task.attempt }

    errorStrategy   = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries      = 1
    maxErrors       = '-1'

    withLabel:process_single  { cpus = {1};  memory = {6.GB};  time = {4.h} }
    withLabel:process_low     { cpus = {2};  memory = {12.GB}; time = {4.h} }
    withLabel:process_medium  { cpus = {6};  memory = {36.GB}; time = {8.h} }
    withLabel:process_high    { cpus = {12}; memory = {72.GB}; time = {16.h} }

	withName: MMSEQS_SEARCH {
        ext.args = "--search-type ${params.search_type} -s ${params.sensitivity}"
        ext.prefix = "search_results"
    }

	withName: MMSEQS_CREATEINDEX {
        ext.args = "--search-type ${params.search_type}"
    }
    
    withName: MMSEQS_CONVERTALIS {
        ext.args = "--search-type ${params.search_type}"
    }
}